# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# macOS
.DS_Store

# JetBrains Rider
*.sln.iml

# Crashlytics
crashlytics-build.properties

# Asset meta files (no ignorar, Unity los necesita)
# *.meta  ← NO agregues esto

# Builds
*.apk
*.aab
*.unitypackage
*.app
Assets/Videos/*.mp4
Assets/Videos/*.mp4.meta
